* {
	box-sizing: border-box;
}

html,body {
	height: 100%;
}

.container {
	height: 100%;
}
.row {
	height: 100%;
}

.rowMargin {
	margin-top: 20px;
	margin-bottom: 20px;
}

#map {
	min-height: 350px;
	height: 100%;
}

#filter-container {
	margin-left: 10px;
	margin-right: 10px;
}

#filter-input input {
	font-size: 1em;
	padding: 0.2em;
}

h2 {
	color: grey;
}

.filter-input {
	width: 100%;
	border: 0.5px solid grey;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	border: none;
	line-height: 1.5;
	margin-top: 10px;
	transition: all 0.6s;
}

li:hover {
	background-color: #F89B4D;
}

li.highlight {
	background-color: #F89B4D;
}

li>button {
	border: none;
	width: 100%;
	background: transparent;
	text-align: left;
}