@import '~antd/dist/antd.css';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.row {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

h2 {
	font-size: 2rem;
	margin-bottom: .5rem;
	font-weight: 500;
}

.filter {
	width: 30%;
	padding: 0 20px;
}

input {
	width: 100%;
	font-size: 1rem;
	padding: 0.2em;
	outline: none;
	border: 0.5px solid grey;
	line-height: 1.5;
}

ul {
	list-style: none;
	padding-left: 0;
	margin-top: 10px;
}

.filterItem {
	list-style: none;
}

.filterItem:hover {
	background-color: #F89B4D;
}

.buttonItem {
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2;
	border: none;
	background: transparent;
	text-align: left;
}

#map {
	height: 90vh;
	width: 70%;
	align-self: center;
	margin-bottom: 10px;
}

@media (max-width: 680px) {
	.filter,
	input,
	ul {
		width: 100%;
	}
	#map {
		width: 100%;
	}
}